[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = https://github.com/Rythe-Interactive/tinygltf.git
[submodule "third_party/cereal"]
	path = third_party/cereal
	url = https://github.com/Rythe-Interactive/cereal.git
[submodule "third_party/argh"]
	path = third_party/argh
	url = https://github.com/adishavit/argh.git
[submodule "third_party/opencl"]
	path = third_party/opencl
	url = https://github.com/KhronosGroup/OpenCL-SDK.git
[submodule "third_party/tinyobj"]
	path = third_party/tinyobj
	url = https://github.com/Rythe-Interactive/tinyobjloader.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/robin-map"]
	path = third_party/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "third_party/rythe-standard-library"]
	path = third_party/rythe-standard-library
	url = https://github.com/Rythe-Interactive/Rythe-Standard-Library.git
[submodule "third_party/impossibly-fast-delegates"]
	path = third_party/impossibly-fast-delegates
	url = https://github.com/Offirmo/impossibly-fast-delegates.git
